USE userdb;

DROP TABLE IF EXISTS T_REPORT_SBERTEST_USER;
CREATE TABLE T_REPORT_SBERTEST_USER
(
    id BIGINT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(255),
    password VARCHAR(255),
    passwordCONFIRM VARCHAR(255)
);

INSERT INTO T_REPORT_SBERTEST_USER(id, username, password, passwordCONFIRM) VALUES (124351, '2168779357', '154708', '1497935');
