body {
    background: url(/resources/static/images/unnamed.png);
    display: table;
    margin: 0 auto;
}

h2 {
    color: darkblue;
    size: A3;
}

.my-form-style {
    margin-top: 30%;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.input-form {
    margin-left: 10%;
    margin-right: 10%;
}